{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Detalles</title>
{% endblock extrahead%}

{% block content %}

<a class="btn" href="{% url 'index' %}">Regresar</a>
<div class="superior">
    
    <h1 class="text-center my-5 display-4 fw-bold">{{ marvel.nombre }}</h1>

    <div class="contenido-detalle">
        
        <div class="contenido-caracteristicas">
            <p><strong>Nombre:</strong> {{ marvel.nombre }}</p>
            <p><strong>Nombre real:</strong> {{ marvel.nombre_real }}</p>
            <p><strong>Peso:</strong> {{ marvel.peso }} kg</p>
            <p><strong>Altura:</strong> {{ marvel.altura }} m</p>
            <p><strong>Descripcion:</strong> {{ marvel.descripcion }} </p>
        </div>
        
        <div class="contenido-imagen">
            <img src="{{ marvel.imagen.url }}" alt="Imagen de {{ marvel.nombre }}">
        </div>
    </div>
</div>

{% endblock content %}
